body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #3a3633;
}

.nav {
  background-color: #3a3633;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}

.nav > div {
  text-decoration: none;
  margin-right: 0;
}

div.logo {
  height: 40px;
  transition: opacity 0.2s ease-in-out;
  margin-left: 0;
}

.logo:hover {
  opacity: 0.5;
}

.logo img {
  max-height: 100%;
  margin-left: 20px;
}

html {
  scroll-behavior: smooth;
}

.section {
  display: none;
  grid-column-gap: 60px;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.section > a:hover::after {
  content: "";
  width: 100%;
  height: 5px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: underlineHover 0.5s ease-in-out forwards;
}

@keyframes underlineHover {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }

  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.section > a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  position: relative;
}

.dropdown {
  padding: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.mobile {
  padding: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.mobile:hover > .mobile-menu {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #3a3633;
  text-align: center;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #3a3633;
  text-align: end;
}

.mobile-menu {
  display: none;
}

.dropdown-menu {
  display: none;
}

.menu-list {
  margin: 0;
  padding: 0;
}

.mobile-list {
  margin: 0;
  padding: 0;
}

.mobile-list > li {
  list-style-type: none;
  padding: 20px;
  width: 100vh;
  min-width: 100vh;
}

.menu-list > li {
  list-style-type: none;
  padding: 20px;
}

.menu-list > li:hover {
  background-color: gray;
}

.mobile-list > li:hover {
  background-color: gray;
}

.mobile-list a {
  color: #fff;
  text-decoration: none;
}

.menu-list a {
  color: #fff;
  text-decoration: none;
}

.border {
  width: 100%;
}

.center-content {
  color: #fff;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-content > h1 {
  padding: 0 20px;
}

.introduction h2 {
  font-size: 2rem;
  padding: 20px;
}

.lorem-intro {
  display: flex;
  border-top: 1px dashed #ddd;
  padding: 50px 0px;
  margin: 0 20px;
}

.top-background {
  background-image: url("imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50rem;
}

.introduction {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.amazing-features {
  text-align: center;
  display: flex;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.amazing-features button {
  height: 50px;
}

button {
  width: 100%;
  background-color: #3a3633;
  color: #fff;
  font-size: 0.9rem;
}

button:hover {
  cursor: pointer;
}

.Features {
  box-sizing: border-box;
  border: 3px solid rgba(187, 187, 187, 0.24);
  border-radius: 4px;
  width: 344px;
  padding: 15px;
  display: grid;
  justify-items: center;
  grid-template-rows: 40px auto 1fr auto;
  grid-row-gap: 30px;
  margin: 20px;
}

.Features > img {
  height: 125%;
}

.lorem {
  color: #3a363385;
}

.coolest-section {
  position: relative;
}

.concrete {
  background-color: #3a3633;
}

.gradient {
  background-image: linear-gradient(to right, white, #007effc9);
  text-align: right;
}

.cool {
  color: #fff;
  background-size: cover;
  background-position: center;
  height: 37rem;
}

.cool > h1 {
  padding: 115px 5% 0 5%;
  margin: 0;
  font-size: 45px;
}

.cool > p {
  margin: 50px 5% 0 5%;
  font-size: 20px;
}

.cool-animation {
  background-color: #3a3633;
  text-align: center;
  width: 250px;
  border: 10px solid white;
  height: 90px;
  padding: 40px;
  z-index: 1;
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 1px #3a3633;
}

.cool-animation > h2 {
  color: #e80000ab;
  margin: 0;
}

.cool-animation > p {
  color: white;
  margin: 0;
}

@keyframes random {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.cool-animation:hover {
  animation: random 5s ease-in-out;
}

.gallery {
  display: grid;
  text-align: center;
  justify-content: center;
}

.gallery > div {
  overflow: hidden;
  position: relative;
}

.gallery span {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000006b;
  visibility: hidden;
  transition: all 0.2s ease-in;
}

.gallery img {
  height: 300px;
  width: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.gallery > div:hover > span {
  visibility: visible;
}

.gallery > div:hover > img {
  transform: scale(1.2);
}

.mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3a3633;
  margin: 50px;
}

.email {
  display: flex;
  border: 3px solid #3a3633;
  border-radius: 4px;
  height: 35px;
  width: 250px;
  margin: 15px 0;
}

.text-field {
  width: 1000px;
}

.email button {
  height: 100%;
  border: 0;
}

.checkbox {
  -webkit-appearance: none;
  border: 1px solid #3a3633;
  border-radius: 4px;
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

#checkbox {
  display: inline-flex;
}

.checkbox:focus {
  background: black;
  background-image: url(imgs/checkbox.svg);
  background-size: cover;
  background-position: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 31px 0;
  margin-top: 40px;
  border-top: 1px solid #3a363326;
}

.footer > div {
  margin-left: 33%;
}

.footer > div > div {
  margin: 20px;
}

@media (min-width: 768px) {
  .section {
    display: grid;
  }

  .mobile {
    display: none;
  }

  .center-content > h1 {
    font-size: 4rem;
  }

  .introduction h2 {
    font-size: 3rem;
  }

  .lorem-intro {
    font-size: 1.2rem;
  }

  .border {
    border: 7px solid white;
    width: 90%;
  }
  .cool > h1 {
    font-size: 80px;
  }

  .cool > p {
    font-size: 30px;
  }

  @keyframes random {
    from {
      transform: translate(0, -50%) rotate(0deg);
      opacity: 1;
    }

    70% {
      transform: translate(100%, -50%) rotate(180deg);
      opacity: 1;
    }

    95% {
      transform: translate(100%, -50%) rotate(180deg) scale(0.8);
      opacity: 1;
    }

    to {
      transform: translate(100%, -50%) rotate(180deg) scale(0);
      opacity: 0;
    }
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .cool-animation {
    left: 5%;
    transform: translate(0, -50%);
  }
}

@media (min-width: 1200px) {
  .center-content {
    display: flex;
  }

  .border {
    width: 80%;
  }

  .center-content > h1 {
    font-size: 5rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
